html, body, blockquote, div, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, li, tbody, td, tfoot, th, thead, tr, object, a, b, br, cite, i, img, span, strong, sub, sup, fieldset {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
img, fieldset {
	border: 0;
}
/* set html5 elements to block */
footer, header, nav, section { 
    display: block;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}
header {
	position:fixed;
	height:40px;
	left:0;
	right:0;
	top:0;
	background-image:url('../img/page_elements/header.png');
	background-position:top left;
}
nav {
	position:fixed;
	top:40px;
	left:0;
	bottom:0;
	width:200px;
	background:#2b5861;
	padding-top:15px;
}
nav ul {
	list-style:none;
}
nav li a {
	display:block;
	color:#eee;
	text-decoration:none;
	padding:5px;
	font-size:1.2em;
}
nav li a i {
	width:30px;
	text-align:center;
}
nav li a:hover {
	color:#ed4c63;
}
.page {
	position:fixed;
	left:200px;
	top:40px;
	right:0;
	bottom:0;
	overflow:auto;
}
h1 {
	padding:5px 10px;
	display:block;
	font-size:2.5em;
	color:#c64053;
	font-weight:normal;
}
.players td {
	text-align:center;
	cursor:pointer;
}
.players td i {
	color:#0a0;
}
.players .selected i {
	color:#eee;
}
.dataTables_length,.dataTables_info,.dataTables_filter {
	padding:10px;
}
.playersMenu {
	height:80px;
	background:#333;
}
.playersMenu ul {
	list-style:none;
}
.playersMenu li {
	float:left;
	font-size:1.2em;
	
}
.playersMenu a,.noLink {
	display:block;
	color:#eee;
	text-decoration:none;
	padding:0 20px;
	line-height:80px;
	height:80px;
}
.playersMenu a:hover,.noLink:hover {
	background-color:#333;
}
.playersMenu select {
	margin-left:10px;
}
.players .even {
	background:#fff;
}
.players .odd {
	background:#eaeaea;
}
.players .selected {
	background:#33a3ba !important;
	color:#eee;
}
.singleSelect,.multiSelect {
	display:none;
}
.noSelect {
	display:block;
}

.third {
	float:left;
	width:33.3%;
}
.twoThirds {
	float:left;
	width:66.6%;
}

form {
	padding:0 0 20px 0;
}
fieldset {
	margin:20px;
}
fieldset input[type=text] {
	border:solid 0 #fff;
	background:#33a3ba;
	color:#eee;
	padding:2px 5px;
	font-size:1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:10px;
	width:240px;
}
fieldset input:focus {
	background:#111;
}


.label {
	font-weight:bold;
	margin-bottom:4px;
	font-size:1.1em;
	color:#333;
}
.checkBoxList {
	list-style:none;
	font-weight:bold;
}
.checkBoxList li {
	padding:3px 0;
}
.submit {
	display:block;
	background:#ed4c63;
	color:#eee;
	padding:5px 15px;
	font-weight:bold;
	border:solid 0 #fff;
	margin-left:20px;
}
.warningList {
	width:100%;
	background:#33a3ba;
}
.warningList th {
	color:#eee;
	padding:5px 10px;
	font-weight:normal;
	text-align:left;
}
.warningList th:last-child {
	text-align:center;
}
.warningList td {
	vertical-align: top;
	background:#eee;
	padding:10px 5px;
	font-size:1.1em;
}
.warningList td:last-child {
	width:40px;
	text-align:center;
}
.warningList td:focus {
	background:#333;
	color:#eee;
}
.date {
	width:60px;
	white-space:nowrap;
	font-size:.9em !important;
}
.orgDate input {
	opacity:0;
	position:absolute;
	width:20px !important;
	margin-left:-40px;
}
.warningList textarea:focus {
	background:#333;
	color:#eee;
}
/********************************************************
						 CLEARFIX
********************************************************/

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }